/.gradle/
bin
build

# Temporary files created when working on Linux
*~

# Eclipse files are created with `gradlew eclipse`
.classpath
.project
.settings

# Ignore files setup by Jetbrains Idea IDE
.idea
or
*.class
opt4j-core/out/
opt4j-viewer/out/
